/* ======================================================
   UTILITÁRIOS
====================================================== */

.hidden {

    display: none !important;

}

.text-center {

    text-align: center;

}

/* ======================================================
   ANIMAÇÕES GLOBAIS
====================================================== */

button,
input,
select,
li {

    transition: all var(--transicao);

}

html {

    scroll-behavior: smooth;

}